.circular-graph {
    width: 900px;
    height: 500px;
    //border: 2px solid rgb(223, 222, 222);
    margin: 0 auto;
    margin-top: 200px;
    padding: 15px 50px 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__legend-block {
        width: 100px;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .legend-block {
        &__html {
            @extend %legendBlockTitle;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -7px;
                left: -70px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background-color: violet;
            }
        }

        &__css {
            @extend %legendBlockTitle;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -7px;
                left: -70px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background-color: #99f1a8;
            }
        }

        &__svg {
            @extend %legendBlockTitle;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -7px;
                left: -70px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background-color: #62a8eb;
            }
        }
    }

    .svg {
        &__circle-graph {
            position: relative;
            stroke: rgb(192, 190, 190);
            stroke-width: 60;
            fill: none;
        }

        &__circle-graph-violet {
            stroke: violet;
            stroke-width: 60;
            stroke-dasharray: 502 754;
            stroke-dashoffset: 314;
            fill: none;

            &:hover {
                cursor: pointer;
                stroke-width: 90;
            }
        }

        &__circle-graph-green {
            stroke: rgb(153, 241, 168);
            stroke-width: 60;
            stroke-dasharray: 251 1005;
            stroke-dashoffset: -188;
            fill: none;

            &:hover {
                cursor: pointer;
                stroke-width: 90;
            }
        }

        &__circle-graph-blu {
            stroke: rgb(98, 168, 235);
            stroke-width: 60;
            stroke-dasharray: 377 879;
            stroke-dashoffset: -438;
            fill: none;

            &:hover {
                cursor: pointer;
                stroke-width: 90;
            }
        }

        &__circle-white {
            position: absolute;
            stroke: none;
            fill: white;
        }

        &__circle-white-text-top {
            fill: none;
            stroke: rgb(233, 100, 204);
            font-size: 55px;
            font-weight: 600;
            //text-anchor: start;

            &:hover {
                cursor: pointer;
                stroke: black;
                fill: gold;
                transform: translateY(10px);
                opacity: 0;
                transition: 1.5s;
            }
        }

        &__circle-white-text-bottom {
            fill: none;
            stroke: rgb(100, 162, 233);
            font-size: 29px;
            font-weight: 500;
            //text-anchor: start;

            &:hover {
                cursor: pointer;
                font-size: 45px;
                stroke: black;
                fill: gold;
                transform: translateX(-30px);
                opacity: 0;
                transition: 2s;
            }
        }
    }
}
